.Ads-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 420px;
}

.Ads-container > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
