.Ads-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 420px;
}

.Ads-container > a > img{
    height: 420px;
    /* width: 100%; */
    object-fit: cover;
}
