.Ads-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 420px;
}

.Ads-container > a > img{
    height: 400px;
    width: 100%; 
    object-fit: cover;
}
