.footer-container{

    background-color:var(--background-color);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    border-top: 5px solid red;

   
}

.footer-content{
    padding: 0rem 3rem;
    height: 100%;
  
    display: flex;
    margin-left: 3em;
}

.L-footer{
    width: 30%;
    /*height: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding:  20PX 20px;
   
}

.social-media{
    margin-top: 15px;
    width: 100%;
    display: flex;
    gap: 35px;
    align-items: center;
}


.categories{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    width: 33%;
    /* width: 10%; */
}

.R-footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.R-footer >li {
    list-style: none;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 500;
}

.R-footer >li:hover{
    color: var(--text-color);
    transition: all ease-in 250ms;
    font-weight: 600;
}
.category-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title-category{
    margin-bottom: 10px;
    font-size: 18px;
}
.category-list >li {
    list-style: none;
    font-size: 14px;
    cursor: pointer;
   color: var(--text-color);
    font-weight: 500;
}

.category-list >li:hover{
    color: var(--text-color);
    transition: all ease-in 250ms;
    font-weight: 600;
}

.sp-li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
   color: var(--text-color);
    font-weight: 500;
}
.sp-li:hover{
    color: var(--text-color);
    transition: all ease-in 250ms;
    font-weight: 600;
}


.logo-footer > img {
    height: 10vh;
    width: 150px;
}

.copy-right{
    width: 100%;
    padding:10px  40px;
    background-color: var(--nav-footer);
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 100;
    border-top: 1px solid #e7e5e59e;
    overflow: hidden;
}
@media screen and (max-width: 1240px) {
    .logo-footer img{
        width: 160PX ;
        height: 70px;
      }
  }
  @media screen and (max-width: 1070px) {
    .categories,.R-footer{
        display: none;
      }
      .footer-content{
        justify-content: center;
        align-items: center;
    }
    .logo-footer img{
        width: 200PX !important;
        height: 80px !important;
      }
      .L-footer,.social-media{
        width: 100%;
        justify-content: center;
        align-items: center;
      }
  
  }
  @media screen and (max-width: 820px) {
  
  }
  @media screen and (max-width: 750px) {
   
  
      
    
  }
  @media screen and (max-width: 590px) {
  
  }
  @media screen and (max-width: 480px) {
    .footer-container{
        height: auto !important;
    }
    .logo-footer img{
        width: 80PX;
        height: 40px;
      }
      footer *{
        overflow-x: hidden;
      }
  }
  @media screen and (max-width: 414px) {
  
  }
  @media screen and (max-width: 325px) {
  
  }
  @media screen and (max-width: 250px) {
  
  }