/* .logo{
    width: 100%;
    text-align: center;
}
.logo-gamz{
    width: 25vh;
    margin-top: 20px;
 }
.otp-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
.otp-form form{
    margin-top: 50px;
  
    display: flex;
    gap: 23px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 560px;
    width: 50vw;
    padding: 10px;
    border: 3px solid #e81a2a;
    border-radius: 10px ;
}
.security-img{
    height: 150px;
    width: 250px;
}
.otp-form form input{
    width: 80%;
    padding: 13px;
    border-radius: 10px;
    border-color: black;
}
.otp-form form button{
    width: 80%;
    padding: 12px;
    border-radius: 10px;
    border-color: black;
    background-color:#e81a2a;
    color: black;
    font-size: larger;
    font-weight: bolder;
}
@media screen and (max-width: 1070px) {

    
}
@media screen and (max-width: 820px) {
  
}
@media screen and (max-width: 750px) {
    .otp-form form{
      
        width: 90vw;
       
    }
}
@media screen and (max-width: 590px) {
   
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 325px) {

}
@media screen and (max-width: 250px) {

} */