.details-container{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

}
.post-details-l{
    opacity: 0;
    transform: translateY(100px);
}
.user-avatar{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #cccccc;
    padding: 10px;

}
.user-avatar > img {
    border-radius: 100px;
    height:5vh;
    width: 5vh;

}

.post-details{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
padding: 20px;

}
.big-image > img {
    height: 50vh;
    width: 400px;
    object-fit: fill;
    border-radius: 10%;
}

.big-image{
    border-bottom: 1px solid #cccccc;
}

.sub-images {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.images{
    height: 10vh;
    border: 2px solid  #a7a7a7;
    border-radius: 5px;

}

.images:hover{
    border: 2px solid #d44b4b;
    border-radius: 5px;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}


.post-details-r{
    opacity: 0;
    transform: translateX(100px);
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.post-details-category > p{
    font-size: 16px;
    font-weight: 200;
    color: #aaaaaa;
}
.post-details-title > p {
    font-size: 28px;
    font-weight: 500;

}
.post-details-description > p {
    font-size: 14px;
    font-weight: 400;
    height: 200px;
    width: 300px;
    overflow:auto;
    word-wrap: break-word;
   
    

}

.post-details-price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.post-details-price > p {
    font-size: 26px;
    font-weight: 500; 


}

.post-details-price > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

}

.related-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}

.related-title{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc ;

}

.related-title > p{
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
}

.related-title > p::before{
    position: absolute;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #cd4b4b   ;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.info{
    list-style: none;

}
.sub-images img{

    width: 100px;
    object-fit: fill;
}
/*respo*/
@media screen and (max-width: 1240px) {
   
  
}
@media screen and (max-width: 1070px) {
.sub-images{
    width: 100%;
}
.sub-images img{

    width: 100px;
    object-fit: fill;
}
.post-details-l,.post-details-r{
    width: 100%;
 
}
.big-image{
    width: 100%;
   
}
.big-image img{
    height: 50vh;
    width: 400px;
    object-fit: fill;
}

}
@media screen and (max-width: 820px) {
.post-details{
    flex-direction: column;
   align-items: center;
}

}
@media screen and (max-width: 750px) {
.user-post{
    grid-template-columns: auto auto;
}
}
@media screen and (max-width: 590px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 325px) {

}
@media screen and (max-width: 250px) {

}
