.user-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.user-l{
    padding:  0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.user-l-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #c1c1c1;
  overflow: hidden;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
}

.user-l-content > li {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.user-l-content  > li:hover {
  background-color: rgb(244, 244, 244);
  transition: all ease-in-out 350ms;
}

.user-r {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 74%;
}

.back-image {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  width: 40%;
  height: 100%;
  background-color: rgba(57, 57, 57, 0.7);
}

.user-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-image-container > strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #f7f7f7;
  font-weight: 400;
}

.user-image {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 100PX;
  height: 100PX;
  
  
}

.user {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  padding: 10px;
  font-size: 16px;
  color: #f7f7f7;
  font-weight: 300;
}

.user-post{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;

}
.user a{
  color: white !important;
}

@media screen and (max-width: 1240px) {
.user-l{
  display: flex !important;
  width: 400px;
  margin-bottom: 10px;
}
.Ads-container{
  display: none;
}

.user-l-content{
  flex-direction: row;
  width: 100%;
}
.user-l-content li:first-child,.user-l-content li:last-child{
 width: 30% !important;
}
.user-l-content li{
 width: 40% ;
}
.user-l-content a,.user-l-content li{
  font-size: 10px !important;

}
.user-l{
  align-items: center;
  
}
.user-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media screen and (max-width: 1070px) {

}
@media screen and (max-width: 820px) {
  .Ads-container{
    display: none;
  }
  .user-l{
   
    width: 100% !important;
    
  }
 
  
}
@media screen and (max-width: 750px) {
  .user-info{
    padding: 0;
    padding-top: 10px;
   }
 
}
@media screen and (max-width: 590px) {
  .back-image{
    height: 250px;
    
   }
   
  
   .user-image-container{
  height: 130px;
   }
   
   .user-post *{
    overflow: hidden;
   }
}
@media screen and (max-width: 480px) {
  .user-l{
    padding: 0%;
  
  
  }
}
@media screen and (max-width: 414px) {
  .user-l{
    align-items: center;
    
  }
  .user-l-content{
  width: 99%;
  box-shadow: none;
  }
  
}
@media screen and (max-width: 325px) {

}
@media screen and (max-width: 250px) {

}

