
*{
    list-style: none;
   
}

.category-side-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
 
   
}

.category-side-title{
    border-bottom: 1px solid #a7a7a7;

}

.category-side-title > h4 {
    width: 100%;
    font-size: 24px;
    position: relative;
}


.category-side-title > h4::after{
    position: absolute;
    content: '';
    bottom: -1px;
    right: 0;
    left: 0;
    height: 1.5px;
    background-color: #e81a2a;

}

.category-side{
   
    display: flex;
    flex-direction: column;
   
   
   
  
    
}

.category-side > li{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px ;
    padding-top: 14px;
    border-bottom: 0.5px solid #a8a8a8;
    cursor: pointer;
    /* border-radius: 5px; */
}
.category-side > li >p{
  font-size: 15px;
  font-weight: bold;

}

.category-side-container li svg{
  height: 10px;
}
.hover-drop-down{
    position:absolute;
    height: auto;
    min-height: 200px;
    width: 500px;
    background-color:var(--background-color);
    left: 93%;
    
    display: flex;
     flex-wrap: wrap;
    line-height: 1.5;
    gap: 5PX;
    
    align-items:flex-start;
    align-content: flex-start; /* permet aux lignes de se mélanger */
    
transform: scaleX(1);
    
    border-top: 2px solid #e81a2a ;
    clip-path: inset(100% 100% 0 0);
    transition: 0.5s;
   


}


.category-side-container li:hover > div {
  clip-path: inset(0 0 0 0);
  transition: 0.5s;
   
}
.hover-drop-down >ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
   padding-left: 10px;

   width: 230px;
   transform: scaleX(1);

}
.hover-drop-down ul div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 400px;
  

}



.hover-drop-down ul li{
  color: #a7a7a7;
  margin: 2px 0 0 0px;
   

}
.hover-drop-down ul  li:hover:not(.drop-down-titel){
  text-decoration:underline;
  color: var(--text-color);
   

}

.drop-down-titel{
    font-weight: bold;
    color:var(--text-color) !important;
    margin-top: 10px !important;

}
.img-cat{
  height: 160px !important;
  width: auto !important;
  position: absolute;
 
   top: 235px ;
   left: 230px;
   transform: scaleX(1) ;
  
 
}

.consoles .img-cat,.jeux .img-cat, .deg .img-cat,.tel .img-cat{
  height: 120px;
 position: absolute;
  transform: scaleX(1);
  top: 250px;
  left: 200px;
 
}
.consoles .img-cat{
  height: 180px;
  top: 221.4px;
  left: 170px;
  
}
.tel .img-cat{
 
  height: 200px;
  top: 200px ;
  left: 190px;
  transform: scaleX(1) ;
 
}
.informatique .img-cat{
  height: 200px;
  top: 220px;
  left: 200px;
  
}
.jeux .img-cat{
  height: 150px;
  top: 250px;
  left: 190px;
  
}
.deg .img-cat{
  height: 160px;
  top: 240px;
  left: 130px;
  
}

@keyframes square-in-top-right {
    from {
      clip-path: inset(100% 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:top-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-top-right both;
  }