#root {
  
  margin: 0;
  padding: 0;

}
:root {
  --background-color: #FFFFFF;
  --text-color: #333333;
  --nav-footer:#e7e5e59e;
}

.dark-mode {
  --background-color: #222222;
  --text-color: #FFFFFF;
  --nav-footer:#222222;
}
::-webkit-scrollbar {
  width: 15px; /* Remplacez par la largeur souhaitée */
 
}

/* Fond de la barre de défilement */
::-webkit-scrollbar-thumb{
  background-color: red; /* Remplacez par la couleur souhaitée */
  border-radius: 10px;
}
