#root {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --nav-footer: #e7e5e59e;
}

.dark-mode {
  --background-color: #222222;
  --text-color: #ffffff;
  --nav-footer: #222222;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #e81a2a;
  border-radius: 10px;
}
body {
  margin: 0;
  padding: 0;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
