


.Top-sal-box-container{
    display: flex;
    align-items: center;
    gap:10px; 
    padding: 15px;
    background-color: var(--background-color);
}

.sal-box-L{
    display: flex;
    align-items: center;
    width: 30%;
}

#box-image{
    width: 100%;
    object-fit: contain;

}

.sal-box-R{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
}


